@import url('https://fonts.googleapis.com/css2?family=Genos:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Engagement&display=swap');

/* 
bg-#162836
text-#CF7650
btn-#D5A187
*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-weight: 600;
}

body {
    margin: 0;
    font-family: "genos", sans-serif;
    background-color: #162836;
}

header {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px #162836;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    text-decoration: none;
    width: 25vh;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-family: "Genos", sans-serif;
}

.navbar a:hover {
    text-shadow: 0px 0px 10px #D5A187;
    color: #D5A187;
}

.navbar a.active {
    text-shadow: 0px 0px 10px #D5A187;
    color: #CF7650;
}

.cart-button {
    color: #D5A187;
    background-color: rgba(225, 225, 225, 0.02);
    border: none;
    border-radius: 50px;
    padding: 9px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cart-button:hover {
    color: #CF7650;
    background-color: rgba(225, 225, 225, 0);
    border:1px #CF7650;
    box-shadow: 0px 0px 10px #CF7650;
    border-radius: 50px;
    padding: 9px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.promo {
    height: 300px;
    background-color: #D5A187;
    color: black;
    display: flex;
    justify-content: space-around;
}

.promohead {
    padding-top: 20px;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 60px;
    position:absolute;
}

.tagline{
    font-family: 'Engagement', cursive;
    font-size: 30px;
    padding-top: 110px;
    
}
.buynow{
    padding-top: 10px;
}

.buybtn {
    color: #D5A187;
    background-color:#162836;
    border: none;
    border-radius:10px;
    padding: 9px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.buybtn a{
    text-decoration: none;
    color: #CF7650;
}

.buybtn:hover {
    position: fixed;
    display: flex;
    color: #CF7650;
    background-color: #162836;
    box-shadow: 0px 0px 20px #162836;
    border-radius:10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.prodpromo{
    margin-top: 50px;   
}

.prodpng{
    width: 50vh;
    transition: all 0.3s ease-in-out 0s;
    transform: scale(1);
}

.prodpng:hover{
    transform: perspective(500px) rotateY(-20deg) rotateX(10deg) scale(1.2);    
}

.StockProd{
    margin: 50px 30px;
    background-color: #D5A187;
    font-weight: 600;
    font-size: 20px;
}

.stockindi{
    display:flex;
    padding: 15px;
}

.stockindi li{
    margin-left: 14px;
}


.stockindi li a{
    color: #162836;
}

.selected{
    text-decoration: underline;
    text-shadow: 0px 0px 5px #CF7650;
}

.item1{
    width: auto;
    padding: 10px;
    border: 3px solid #162836;
    margin: 0px 40px 20px 40px;
}

.itemimg{
    width: 225px;
    transform: scale(1);
    transition: all .25s ease-in-out;
}

.itemimg:hover{
    transform: scale(1.2);
}

.prodroll{
    display: flex;
    margin: 0px 50px;
    justify-content: center;
}

.itemname{
    margin-top: -35px;
    text-align: center;
}

.imgtitle{
    width: auto;
    border: 3px solid #162836;
}

.learnmore{
    display: flex;
    justify-content: center;
}
.learmoreslogan{
    background-color: #CF7650;
    padding-top: 20px;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 60px;
}

.learmoreslogan h4{
    font-family: 'Engagement', cursive;
    font-size: 30px;
}


width: auto;
padding: 10px;
border: 3px solid #162836;
margin: 0px 40px 20px 40px;